h1{
    text-align: center;
}
div{
    border: 2px solid red;
    border-radius: 10px;
    color: aqua;
    background-color: bisque;
}
p{
    background-color: blueviolet;
}
div h1{
    color: aquamarine;
}